@{
    ViewData["Title"] = "Panou Admin";
}

<h1>Panou Admin</h1>

<ul>
    <li><a href="/Admin/Users">Utilizatori</a></li>
    <li><a href="/Admin/Uses">Utilizări</a></li>
    <li><a href="/Admin/Subscriptions">Abonamente</a></li>
    <li><a href="/Admin/Roles">Roluri</a></li>
    <li><a href="/Admin/IdentityCards">Cărți de identitate</a></li>
</ul>