@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Panou Admin";
}

<div class="row">
    <div class="col-md-8 offset-md-2">

        <h1 class="mb-4 border-bottom pb-2">Panou Admin</h1>

        @* Folosim List Group din Bootstrap pentru a stiliza meniul *@
        <div class="list-group">

            <a href="/Admin/Users" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                <span class="badge bg-primary rounded-pill">Utilizatori</span>
            </a>

            <a href="/Admin/Uses" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                <span class="badge bg-secondary rounded-pill">Utilizări</span>
            </a>

            <a href="/Admin/Subscriptions" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                <span class="badge bg-success rounded-pill">Abonamente</span>
            </a>

            <a href="/Admin/Roles" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                <span class="badge bg-warning text-dark rounded-pill">Roluri</span>
            </a>

            <a href="/Admin/IdentityCards" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                <span class="badge bg-info text-dark rounded-pill">Cărți de identitate</span>
            </a>

        </div>

    </div>
</div>