@{
    ViewData["Title"] = "Utilizari";
}

<h2>Toate utilizarile</h2>

<!-- Aici va fi tabelul cu utilizatori -->
<!-- Buton pentru a te întoarce la Index -->
<a href="/Admin/Index">Înapoi la Panou Admin</a>
